<!DOCTYPE html>
<html>
<head>
	<title>Lista de Tarefas</title>
	<script type="text/javascript" src="assets/js/lib/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/css/todos.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<script src="https://use.fontawesome.com/ff30d980a8.js"></script>
</head>
<body>

<div id="notepad">
	<h1>Lista de Tarefas<i class="fa fa-plus" aria-hidden="true"></i></h1>

  <form action="/createTodo" method="POST">
    <input class="input-notepad" type="text" placeholder="Adicionar Nova Tarefa" name="txtTodo">
    <input class="input-notepad" type="submit">
  </form>

	<ul></ul>

</div>

<script type="text/javascript" src="assets/js/todos.js"></script>
</body>
</html>
