<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="assets/css/todos.css">
  	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
  	<script src="https://use.fontawesome.com/ff30d980a8.js"></script>
  </head>
  <body>
    <div id="login-form">
      <form class="" action="/login" method="post">
        <input class="input-login" type="text" placeholder="Digite seu e-mail" name="txtEmail" required>
        <input class="input-login" type="password" placeholder="Digite sua senha" name="txtPassword" required>
        <button class="submit-style" type="submit" name="btnLogin">Log In</button>
      </form>
    </div>
  </body>
</html>
